*{
    box-sizing: border-box;
}
body{
    padding: 40px;
    background-color: rgb(245, 238, 245);
}
.container{
    max-width: 60%;
}
.container h2{
    color: chocolate;
}
.calender .row{
    background-color: antiquewhite;
    padding: 15px;
}
.calender{
    background-color: rgb(241, 237, 237);
    padding: 10px;
}
.monthYear{
    padding: 10px;
}
.monthYear i{
    font-size: 30px;
}

.monthYear .float i{
    font-size: 30px;
    float: right;
}
table{
    width: 100%;
}
.find{
    width: 100%;
}
table,th,tr,td{
    border: 1px solid gray;
    border-collapse: collapse;
}
tbody{
    height: 200px;
}
.btn{
    border: 1px solid black !important;
}
.row,.calender{
    border: 1px solid black;
}
thead tr{
    height: 40px;
    background-color: rgb(244, 222, 244);
}