.btn:focus{
    box-shadow: none;
   
}
.btn{
    margin: 10px;
}
.box{
    border: 1px solid gray;
    padding: 15px;
}
.record div{
    border: 1px solid gray;
    margin-bottom: 2rem;
    padding: 5px;
    
}
.record h5{
    border: 1px solid gray;
    margin-bottom: 0px !important;
}
.record p {
    display: inline-block;
    width: 50%;
    border: 1px solid gray;
    margin-bottom: 0px !important;
}
table, tr,td{
    border: 1px solid gray;
}
table{
    min-width: 400px;
}
td{
    min-width: 200px;
}