select{
    margin-bottom: 10px;
    width: 160px !important;
}
.selectOptions{
    display: flex !important;
    flex-direction: column;
}
.heading{
    border-bottom: 1px solid gray;
    margin-bottom: 45px;
    padding: 7px;
}
.btn{
    min-width: 70px;
    margin: 3px;
}
