body{
    box-sizing: border-box;
    background:linear-gradient(#431677,#0067ff);
    min-height: 100vh;
    color: white;
}

.time-box div{
    border: 1px solid white;
    width: 12vw;
    height: 50px;
    font-size: 30px;
}
.text-box div{
    border: 1px solid white;
    width: 12vw;
    height: 50px;
    font-size: 25px;
}
.input-time{
    width: 50vw;
   margin-left: 18vw;
}
.status{
    border: 1px solid white;
    width: 50vw;
    margin-left: 18vw;
}
.btn{
    width: 100px;
    margin: 5px;
}

.green{
    color: rgb(8, 246, 8)!important;
}
.green-border{
    border: 1px solid rgb(8, 246, 8)!important;
}

.blue{
    color: lightblue !important;
}
.blue-border{
    border: 1px solid lightblue!important;
}
.red{
    color: rgb(243, 147, 147)!important;
}
.red-border{
    border: 1px solid rgb(243, 147, 147)!important;
}
/* .box{
    width: 12vw;
    font-size: 15px;
} */

.yello{
    color: rgb(255, 255, 0)!important;
}
.yello-border{
    border: 1px solid rgb(255, 255, 0)!important;
}